<!-- wp:template-part {"slug":"header-transparent","tagName":"header","className":"site-header","layout":{"inherit":false}} /-->

<!-- wp:group {"tagName":"main","className":"is-style-no-spacing","layout":{"inherit":false}} -->
<main class="wp-block-group is-style-no-spacing">
	
<!-- wp:pattern {"slug":"ona/general-hero-creative"} /-->

<!-- wp:pattern {"slug":"ona/general-promo-boxes-minimal"} /-->

<!-- wp:pattern {"slug":"ona/posts-list-creative"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"100px","bottom":"100px"}}},"backgroundColor":"tertiary","className":"ona-container is-style-no-spacing","layout":{"contentSize":"1170px"}} -->
<div class="wp-block-group ona-container is-style-no-spacing has-tertiary-background-color has-background" style="padding-top:100px;padding-bottom:100px"><!-- wp:paragraph {"align":"center","textColor":"foreground","className":"ona-text-letter-spacing","fontSize":"tiny"} -->
<p class="has-text-align-center ona-text-letter-spacing has-foreground-color has-text-color has-tiny-font-size">TESTIMONIALS</p>
<!-- /wp:paragraph -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","right":"2.5rem","bottom":"2.5rem","left":"2.5rem"}}},"backgroundColor":"background"} -->
<div class="wp-block-group has-background-background-color has-background" style="padding-top:3rem;padding-right:2.5rem;padding-bottom:2.5rem;padding-left:2.5rem"><!-- wp:paragraph {"style":{"typography":{"lineHeight":".5"}},"textColor":"primary","className":"is-style-no-spacing","fontSize":"huge"} -->
<p class="is-style-no-spacing has-primary-color has-text-color has-huge-font-size" style="line-height:.5">”</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"textColor":"foreground"} -->
<p class="has-foreground-color has-text-color"><em>I have witnessed and admired the work for years. I highly recommend this work for anyone seeking to increase.</em></p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3,"style":{"typography":{"fontSize":"0.9375rem"}}} -->
<h3 id="xyrel-paterson" style="font-size:0.9375rem">— Xyrel Paterson</h3>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":20} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","right":"2.5rem","bottom":"2.5rem","left":"2.5rem"}}},"backgroundColor":"background"} -->
<div class="wp-block-group has-background-background-color has-background" style="padding-top:3rem;padding-right:2.5rem;padding-bottom:2.5rem;padding-left:2.5rem"><!-- wp:paragraph {"style":{"typography":{"lineHeight":".5"}},"textColor":"primary","className":"is-style-no-spacing","fontSize":"huge"} -->
<p class="is-style-no-spacing has-primary-color has-text-color has-huge-font-size" style="line-height:.5">”</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"textColor":"foreground"} -->
<p class="has-foreground-color has-text-color"><em>Every detail has been taken care these team are really amazing and talented! I will work only to help your sales goals.</em></p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3,"style":{"typography":{"fontSize":"0.9375rem"}}} -->
<h3 id="xyrel-paterson" style="font-size:0.9375rem">— Camille Alforque</h3>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":20} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","right":"2.5rem","bottom":"2.5rem","left":"2.5rem"}}},"backgroundColor":"background"} -->
<div class="wp-block-group has-background-background-color has-background" style="padding-top:3rem;padding-right:2.5rem;padding-bottom:2.5rem;padding-left:2.5rem"><!-- wp:paragraph {"style":{"typography":{"lineHeight":".5"}},"textColor":"primary","className":"is-style-no-spacing","fontSize":"huge"} -->
<p class="is-style-no-spacing has-primary-color has-text-color has-huge-font-size" style="line-height:.5">”</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"textColor":"foreground"} -->
<p class="has-foreground-color has-text-color"><em>Every detail has been taken care these team are realy amazing and talented! I will work only to help your sales goals.</em></p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3,"style":{"typography":{"fontSize":"0.9375rem"}}} -->
<h3 id="xyrel-paterson" style="font-size:0.9375rem">— Xyjan Ragpa</h3>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":20} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"ona/forms-newsletter-book"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","layout":{"inherit":false}} /-->